.scrollItens {
    width: 70%;
    display: -webkit-inline-box;
    overflow: auto;
    margin-bottom: 20px;
    padding-left: 0;
    box-shadow: 0 0 1em  #852142;
}

.scrollItens::-webkit-scrollbar {
    width: 12px;               
    border-radius: 10px;
}
  
.scrollItens::-webkit-scrollbar-track {
    background: rgb(238, 234, 234);        
}
  
.scrollItens::-webkit-scrollbar-thumb {
    background-color: rgb(211, 202, 202);   
    border-radius: 10px;       
}

.cover {
    width: 100%;
    padding: 30px 0px;
    position: relative;
}

.direita {
    position: absolute;
    right: 100px;
    top: 45%;
    padding: 20px;
    border-radius: 5px;
    transform: translateY(-50%);
    background-color:  #E91E63;
    color: white;
    border: none;
}

.esquerda {
    visibility: hidden;
    position: absolute;
    left: 100px;
    top: 45%;
    padding: 20px;
    border-radius: 5px;
    transform: translateY(-50%);
    background-color: #E91E63;
    color: white;
    border: none;
    
}

.direita:hover{
    background-color: #852142;
}
.esquerda:hover{
    background-color: #852142;
}

.cardEvento{
   min-width: 400px;
}

.cardEvento:hover{
    border: 2px solid #852142;
}